In [1]:
import os, glob
import pandas as pd
from pandas.errors import EmptyDataError
from tqdm import tqdm

In [2]:
oak = os.getenv('OAK')
video_folder = f"{oak}/samori/tiktok/videos"
comments_folder = f"{oak}/samori/tiktok/comments"
os.path.exists(comments_folder)

True

In [3]:
months = os.listdir(video_folder)
months

['may_2023',
 'july_2024',
 'july_2023',
 'january_2023',
 'june_2024',
 'august_2023',
 'april_2024',
 'march_2024',
 'december_2023',
 'november_2023',
 'february_2024',
 'june_2023',
 'april_2023',
 'january_2024',
 'may_2024',
 'combined',
 'february_2023',
 'march_2023']

In [50]:
for month in months:
    # print(f"---- {month} ----")
    month_folder = f"{video_folder}/{month}"
    csvs = glob.glob(f"{month_folder}/*.csv")
    month_combined_df = pd.read_csv(csvs[0])
    for path in tqdm(csvs[1:]):
        try:  
            df = pd.read_csv(path)
        except EmptyDataError:
            continue
        month_combined_df = pd.concat([month_combined_df, df], ignore_index=True)

    month_combined_df = month_combined_df.drop_duplicates(subset='id', keep='first')
    month_combined_df.to_csv(f"{video_folder}/combined/{month}.csv", index=False)
    print(f"\n{month}: {len(month_combined_df)} recordz ...")
    print('\n')

100%|██████████| 47/47 [00:00<00:00, 290.04it/s]

may_2023: 2862 recordz ...

100%|██████████| 86/86 [00:00<00:00, 302.09it/s]

july_2024: 2474 recordz ...

100%|██████████| 51/51 [00:00<00:00, 327.73it/s]

july_2023: 3113 recordz ...

100%|██████████| 40/40 [00:00<00:00, 350.60it/s]

january_2023: 2453 recordz ...

100%|██████████| 57/57 [00:00<00:00, 320.20it/s]

june_2024: 3690 recordz ...

100%|██████████| 2/2 [00:00<00:00, 228.29it/s]

august_2023: 187 recordz ...

100%|██████████| 132/132 [00:00<00:00, 320.16it/s]

april_2024: 3891 recordz ...

100%|██████████| 73/73 [00:00<00:00, 343.01it/s]

march_2024: 4361 recordz ...

100%|██████████| 29/29 [00:00<00:00, 353.58it/s]

december_2023: 1586 recordz ...

100%|██████████| 64/64 [00:00<00:00, 354.38it/s]

november_2023: 3403 recordz ...

100%|██████████| 63/63 [00:00<00:00, 254.61it/s]

february_2024: 3388 recordz ...

100%|██████████| 45/45 [00:00<00:00, 333.99it/s]

june_2023: 2714 recordz ...

100%|██████████| 33/33 [00:00<00:00, 351.77it/s]

april_2023: 2244 recordz ...

100%|██████████| 119/119 [00:00<00:00, 363.59it/s]

january_2024: 4870 recordz ...

100%|██████████| 66/66 [00:01<00:00, 39.63it/s]

may_2024: 4219 recordz ...

100%|██████████| 46/46 [00:01<00:00, 38.22it/s]

february_2023: 2988 recordz ...

100%|██████████| 54/54 [00:01<00:00, 40.26it/s]

march_2023: 3604 recordz ...

In [59]:
combined_csvs = glob.glob(f"{video_folder}/combined/*.csv")
all_combined = pd.read_csv(combined_csvs[0])
for path in combined_csvs[1:]:
    df = pd.read_csv(path)
    all_combined = pd.concat([all_combined, df], ignore_index=True)
all_combined.to_csv(f"{video_folder}/combined/all_months.csv", index=False)

In [53]:
all_combined

,hashtag_names,like_count,music_id,region_code,video_description,view_count,id,username,video_duration,comment_count,create_time,favorites_count,is_stem_verified,share_count,effect_ids,voice_to_text,playlist_id
0,"['forever16', 'fentanylkills', 'forever16❤️🕊']",64,7.311036e+18,us,I wish things were different and i wish you we...,836,7353797018738756906,shelbyws,0,0,1712189315,4,False,0,NaN,NaN,NaN
1,"['duet', 'fyp', '💎', '☠️', 'faafo', '☠️fuck', ...",8,6.893722e+18,us,#duet with @☢️queenjen☢️ #Duet #☠️ OUTLAW❤️‍🔥 ...,195,7353793457980263726,.outlaw.gemz.phq,59,2,1712188486,0,False,0,['8653034'],NaN,NaN
2,"['iloveyou', 'a1day1', 'lovemehateme', 'savage...",11,7.353792e+18,us,#CapCut #a1day1 #forlyfer #iloveyou #😈fiesty😈r...,116,7353791943429770539,king_leosavage91,27,4,1712188141,2,False,3,NaN,NaN,NaN
3,"['chronicpain', 'cpp', 'dpf', 'dontpunishpainr...",186,7.353789e+18,us,#thedoctorpatientforum #dontpunishpainrally #c...,1050,7353788435838012715,ibdgirl76,421,25,1712187317,11,False,8,NaN,NaN,NaN
4,"['funny', 'drama', 'relatable', 'wtf', 'truth'...",20,7.353787e+18,us,I have nothing good to say about this town. #w...,761,7353786844095565099,bossyboss333,32,4,1712186956,1,False,5,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52042,"['stitch', 'fy', 'fyp', 'androidbaby']",19,7.228283e+18,us,Replying to @percocetbandito0 #stitch #fyp #fy...,633,7228282804432407854,princedrethepresident,9,3,1682965762,0,False,0,NaN,NaN,NaN
52043,"['addicted', 'duet', 'addict', 'recovery', 'gr...",10,7.179352e+18,us,#duet with @officialjellyroll #greenscreen th...,109,7228280706311589166,missieloveseveryone,74,0,1682965277,0,False,1,NaN,NaN,NaN
52044,"['addiction', 'recovery', 'jail', 'fyp', 'tran...",1625,7.228279e+18,us,10 days #fyp #recoverytok #addiction #addictio...,50343,7228279055928315178,hustling_101_,46,88,1682964887,60,False,6,NaN,my lawyers been paid thanks to each and every ...,NaN
52045,"['sober', 'austintx', 'recoveryispossible', 'f...",16,6.701964e+18,us,#austintx #recoveryispossible #fentanylkills #...,285,7228278366548331819,londondorsey_2,30,1,1682964727,1,False,0,['3777750'],NaN,NaN
52046,"['survivor', 'staywithme', 'addiction', 'recov...",158,7.058250e+18,us,#CapCut Admitting you have a problem is the fi...,935,7228275476664438058,recoveringaddict_whitney,7,18,1682964056,2,False,0,NaN,NaN,NaN

In [24]:
month_combined_df

,hashtag_names,like_count,music_id,region_code,video_description,view_count,id,username,video_duration,comment_count,create_time,favorites_count,is_stem_verified,share_count,effect_ids,voice_to_text,playlist_id
0,"['forever16', 'fentanylkills', 'forever16❤️🕊']",64,7.311036e+18,us,I wish things were different and i wish you we...,836,7353797018738756906,shelbyws,0,0,1712189315,4,False,0,NaN,NaN,NaN
1,"['duet', 'fyp', '💎', '☠️', 'faafo', '☠️fuck', ...",8,6.893722e+18,us,#duet with @☢️queenjen☢️ #Duet #☠️ OUTLAW❤️‍🔥 ...,195,7353793457980263726,.outlaw.gemz.phq,59,2,1712188486,0,False,0,['8653034'],NaN,NaN
2,"['iloveyou', 'a1day1', 'lovemehateme', 'savage...",11,7.353792e+18,us,#CapCut #a1day1 #forlyfer #iloveyou #😈fiesty😈r...,116,7353791943429770539,king_leosavage91,27,4,1712188141,2,False,3,NaN,NaN,NaN
3,"['chronicpain', 'cpp', 'dpf', 'dontpunishpainr...",186,7.353789e+18,us,#thedoctorpatientforum #dontpunishpainrally #c...,1050,7353788435838012715,ibdgirl76,421,25,1712187317,11,False,8,NaN,NaN,NaN
4,"['funny', 'drama', 'relatable', 'wtf', 'truth'...",20,7.353787e+18,us,I have nothing good to say about this town. #w...,761,7353786844095565099,bossyboss333,32,4,1712186956,1,False,5,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7549,"['daughter', 'father', 'addiction', 'sober', '...",39,7.360529e+18,us,#addiction #opiates #charli #daughter #father ...,580,7360528810439101739,mrscharlipow,589,3,1713756679,2,False,1,NaN,NaN,NaN
7550,"['foryou', 'fyp', 'awareness', 'streetwear', '...",94,7.230113e+18,us,🩵 link in bio.. #fyp #foryou #addictionrecover...,1174,7360525895129386282,a1juug,14,13,1713756010,3,False,0,NaN,NaN,NaN
7551,[],9,7.360521e+18,us,Trigger warning possible OD. A parent’s worst...,251,7360520976603303199,adriennedavissmit,335,2,1713754901,3,False,1,NaN,so I'm gonna be as real and as vulnerable as I...,NaN
7552,"['ford', 'f150', 'truck', 'fyp', 'liftedtrucks...",282,7.085801e+18,us,#greenscreenvideo tgg someone you think is off...,2167,7360519094992375070,f1shitty_parker,15,14,1713754485,3,False,7,NaN,NaN,NaN
8293,"['missyou', 'fentanylkills']",89,6.905923e+18,us,#fentanylkills #missyou,549,7354461584762228014,l3x1l0w3,0,0,1712344056,1,False,0,NaN,NaN,NaN

In [54]:
repeated_samples = all_combined.groupby('id').size().reset_index(name='count')

In [27]:
month_combined_df[month_combined_df['id']==7351857621462175018]

,hashtag_names,like_count,music_id,region_code,video_description,view_count,id,username,video_duration,comment_count,create_time,favorites_count,is_stem_verified,share_count,effect_ids,voice_to_text,playlist_id
2391,"['drag', 'dragqueen', 'dragrace', 'rpdr', 'mak...",52564,7.351858e+18,us,High heels on my tippies 💅👠 #DragRace #RPDR #d...,431672,7351857621462175018,rupaulsdragrace,50,102,1711987200,3143,False,319,NaN,"We should do a walk off. 5, 6, 7, 8. Miguel, t...",7.309465e+18

In [58]:
repeated_samples[repeated_samples['count'] > 0]

                        id  count
0      7183473624232250666      1
1      7183476174360759594      1
2      7183476721780378923      1
3      7183482225877421355      1
4      7183482881472384302      1
...                    ...    ...
52042  7397951254594456875      1
52043  7397951788470684974      1
52044  7397952486910201119      1
52045  7397953776398634282      1
52046  7397953784485268778      1

[52047 rows x 2 columns]

In [4]:
comment_csvs = glob.glob(f"{comments_folder}/downloads/*.csv")
comments_combined = pd.read_csv(comment_csvs[0])
for path in tqdm(comment_csvs[1:]):
    df = pd.read_csv(path)
    comments_combined = pd.concat([comments_combined, df], ignore_index=True)
    
comments_combined = comments_combined.drop_duplicates(subset='id', keep='first')
# comments_combined.to_csv(f"{comments_folder}/combined_comments_3.csv", index=False)

100%|██████████| 33801/33801 [33:39<00:00, 16.74it/s]

In [5]:
comments_combined.to_csv(f"{comments_folder}/combined_comments_5.csv", index=False)

In [9]:
comments_combined

,create_time,id,like_count,parent_comment_id,reply_count,text,video_id
0,1.698725e+09,7.295967e+18,0.0,7.260153e+18,0,many of them have no idea they are using fenta...,7.260153e+18
1,1.698725e+09,7.295968e+18,0.0,7.260153e+18,0,amen,7.260153e+18
2,1.698725e+09,7.295968e+18,0.0,7.260153e+18,0,your children are spiritual warefare!,7.260153e+18
3,1.698725e+09,7.295967e+18,0.0,7.260153e+18,0,i pray they never havevto understand our pain,7.260153e+18
4,1.699370e+09,7.298738e+18,0.0,7.298692e+18,0,how ya doing,7.298692e+18
...,...,...,...,...,...,...,...
548121,1.706967e+09,7.331366e+18,1.0,7.331158e+18,1,You got this and look so much healthier keep i...,7.331158e+18
548122,1.706965e+09,7.331358e+18,1.0,7.331158e+18,1,so proud of u man,7.331158e+18
548123,1.706994e+09,7.331482e+18,0.0,7.331358e+18,0,Ty hun💯,7.331158e+18
548124,1.687461e+09,7.247588e+18,1.0,7.245652e+18,0,💚💚💚,7.245652e+18
548125,1.718102e+09,7.379193e+18,1.0,7.376421e+18,0,@José™️wtflip,7.376421e+18

In [4]:
comments_combined

,create_time,id,like_count,parent_comment_id,reply_count,text,video_id
0,1.698725e+09,7.295967e+18,0.0,7.260153e+18,0,many of them have no idea they are using fenta...,7.260153e+18
1,1.698725e+09,7.295968e+18,0.0,7.260153e+18,0,amen,7.260153e+18
2,1.698725e+09,7.295968e+18,0.0,7.260153e+18,0,your children are spiritual warefare!,7.260153e+18
3,1.698725e+09,7.295967e+18,0.0,7.260153e+18,0,i pray they never havevto understand our pain,7.260153e+18
4,1.699370e+09,7.298738e+18,0.0,7.298692e+18,0,how ya doing,7.298692e+18
...,...,...,...,...,...,...,...
443020,1.706922e+09,7.331174e+18,1.0,7.331158e+18,1,Welcome to Recovery😆 l,7.331158e+18
443021,1.706967e+09,7.331366e+18,1.0,7.331158e+18,1,You got this and look so much healthier keep i...,7.331158e+18
443022,1.706965e+09,7.331358e+18,1.0,7.331158e+18,1,so proud of u man,7.331158e+18
443023,1.706994e+09,7.331482e+18,0.0,7.331358e+18,0,Ty hun💯,7.331158e+18
443024,1.718102e+09,7.379193e+18,1.0,7.376421e+18,0,@José™️wtflip,7.376421e+18

In [6]:
comments_combined['video_id'].nunique()

19459

In [7]:
data = comments_combined.dropna(subset=['create_time'])
data = data[(data['create_time'] < 1e10) & (data['create_time'] > 0)]

datetime_list = pd.to_datetime(data['create_time'], unit='s', errors='coerce')
month_year = [f"{i.month}_{i.year}" for i in datetime_list]
data['month_year'] = month_year

In [8]:
data['month_year'].value_counts()

month_year
7_2023     71876
2_2023     63184
4_2024     54857
11_2023    54167
6_2023     43145
1_2023     37710
2_2024     36484
5_2024     24684
6_2024     23834
7_2024     23028
12_2023    20446
8_2024     20359
8_2023     12088
3_2023      9853
1_2024      5228
9_2024      4013
9_2023      3325
4_2023      2799
10_2024     1768
10_2023     1691
3_2024      1444
5_2023      1343
11_2024     1132
12_2024      634
1_2025         8
Name: count, dtype: int64

In [7]:
len(comments_combined['text'].dropna()

0         many of them have no idea they are using fenta...
1                                                      amen
2                     your children are spiritual warefare!
3             i pray they never havevto understand our pain
4         And we have to acknowledge that there is a ris...
                                ...
116268                                   My cousin was 13 💔
116269               Ninetyseven 1998-2023, forever 25 ❤️‍🩹
116273    why the hell are they taking the crap knowing ...
116274                     Where is that poison coming from
116276                                                    💜
Name: text, Length: 85912, dtype: object

In [8]:
comments_combined

,like_count,parent_comment_id,reply_count,text,video_id,create_time,id
0,0,7353125383379701034,0,NaN,7353125383379701034,1712554965,7355367090372854574
1,6,7358599826248092974,0,My beautiful mother in law said a rosary for u...,7358599826248092974,1713309214,7358606950194905887
2,2,7358599826248092974,1,🙏QUE DIOSITO LOS QUIDE AT TODOS 🙏,7358599826248092974,1713309286,7358607282282021663
3,1,7358599826248092974,0,♥️♥️♥️,7358599826248092974,1713330298,7358697402764444462
4,1,7358732985950438190,0,♥️♥️♥️,7358599826248092974,1713359387,7358822389188903711
...,...,...,...,...,...,...,...
55910,0,7362977620872711470,0,NaN,7362977620872711470,1714330673,7362993813348238123
55911,0,7362977620872711470,0,I refer Dr Amaris to you he can cure and treat...,7362977620872711470,1714340223,7363035135127634695
55912,0,7362977620872711470,0,This is,7362977620872711470,1714362485,7363130705469735726
55913,1,7355157611920100650,0,If only 💔,7355157611920100650,1712517157,7355205087864603438
55914,0,7355157611920100650,0,This is so frustrating I also got banned. Afte...,7355157611920100650,1712540016,7355302878141465360

In [5]:
comments_combined

,like_count,parent_comment_id,reply_count,text,video_id,create_time,id
0,0,7353125383379701034,0,NaN,7353125383379701034,1712554965,7355367090372854574
1,6,7358599826248092974,0,My beautiful mother in law said a rosary for u...,7358599826248092974,1713309214,7358606950194905887
2,2,7358599826248092974,1,🙏QUE DIOSITO LOS QUIDE AT TODOS 🙏,7358599826248092974,1713309286,7358607282282021663
3,1,7358599826248092974,0,♥️♥️♥️,7358599826248092974,1713330298,7358697402764444462
4,1,7358732985950438190,0,♥️♥️♥️,7358599826248092974,1713359387,7358822389188903711
...,...,...,...,...,...,...,...
55865,0,7362977620872711470,0,NaN,7362977620872711470,1714330673,7362993813348238123
55866,0,7362977620872711470,0,I refer Dr Amaris to you he can cure and treat...,7362977620872711470,1714340223,7363035135127634695
55867,0,7362977620872711470,0,This is,7362977620872711470,1714362485,7363130705469735726
55868,1,7355157611920100650,0,If only 💔,7355157611920100650,1712517157,7355205087864603438
55869,0,7355157611920100650,0,This is so frustrating I also got banned. Afte...,7355157611920100650,1712540016,7355302878141465360

In [31]:
comments_combined['text']

0                                                      NaN
1        My beautiful mother in law said a rosary for u...
2                        🙏QUE DIOSITO LOS QUIDE AT TODOS 🙏
3                                                   ♥️♥️♥️
4                                                   ♥️♥️♥️
                               ...
12584                                      don't do poison
12586    Ty girl. I appreciate it & u. Informing recove...
12587                     Ty friend I appreciate it & u🥰💜💕
12588                                            If only 💔
12589    This is so frustrating I also got banned. Afte...
Name: text, Length: 12003, dtype: object

In [19]:
repeated_samples = comments_combined.groupby('id').size().reset_index(name='count')
repeated_samples[repeated_samples['count'] > 1]

                        id  count
147    7353862291097584414      2
162    7353867599649145630      2
176    7353884277555118891      2
260    7354011168514589470      2
263    7354014889034498859      2
...                    ...    ...
11749  7398254223744058142      2
11756  7398345370679903009      2
11768  7398620968077853473      2
11883  7400998272925565738      2
11892  7401055028108706603      2

[581 rows x 2 columns]

In [24]:
for i in comments_combined[comments_combined["id"] == 7353862291097584414]['text']:
    print(i)

did you ever talk to her cause she shouldnt of been being drugs in first place
did you ever talk to her cause she shouldnt of been being drugs in first place

In [10]:
comments_combined

,like_count,parent_comment_id,reply_count,text,video_id,create_time,id
0,0,7353125383379701034,0,NaN,7353125383379701034,1712554965,7355367090372854574